.dz-preview.dz-file-preview

  .dz-image
    img(data-dz-thumbnail)

  .dz-details
    .dz-size(data-dz-size)
    .dz-name(data-dz-name)

  .dz-progress
    span.dz-upload(data-dz-uploadprogress)

  //-.dz-error-message
    span(data-dz-errormessage)

  .dz-mark
    .dz-success-mark
      span(title="Archivo cargado")
    .dz-error-mark
      span(title="Error")
