#ipad-backdrop

  #ipad-preview(tabindex="4321")
    .ipad-outer
      .ipad-camera.hide-move
      .ipad-home.hide-move.ipad-close
        .ipad-home-in

      #ipad-content!= content

  #ipad-controls
    .ipad-off.fa-power-off.ipad-close
    .ipad-skin.fa-shield
