.modal.fade#reference-resource-dialog(tabindex="-1" role="dialog")
  .modal-dialog.modal-center.modal-md
    .modal-content
      .modal-header.compact-header
        button.close.wb-close(type="button" data-dismiss="modal" tabindex="200" title="Cerrar")
        h3.modal-title Modificar ID de Referencia

      .modal-body.form-material
        form#form-reference-resource(onsubmit="saveForm")
            .form-group
                label(for="reference_resource_id") Ingresar nuevo ID de referencia
                input#reference_resource_id.form-control(type="number" name="reference_resource_id")
      .modal-footer
        button.btn.btn-default.btn-no(data-dismiss="modal") Cancelar
        button.btn.btn-primary.btn-ok#btn-submit Guardar